<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    <header>
      <div class="hero">
          <a href="checkout.html"><i class="bi bi-bag"></i></a>
          <a href="#"><i class="bi bi-suit-heart"></i></a>
          <a href="#"><i class="bi bi-person"></i></a>
      </div>
      <br><br><br>
      <div class="header">
          <div>
              <p class="logo-title">
                <a href="/" class="link">Freaky Fashion</a>
            </p>
          </div>
          <br>
          <form action="/search/result"> <!-- för VG behöver du ha med action -->
              <input class="search-bar" name="filter" type="search" placeholder="search" title="search">
          </form>
      </div>
      <br>
      <nav>
          <div class="menu">
              <div><a class="link" href="index.html">Hem</a></div>
              <div><a class="link" href="nyheter.html">Nyheter</a></div>
              <div class="drop-btn">Kategorier
                  <div class="dropdown">
                      <div class="dropdown-content">
                          <div><a class="link" href="#">Kläder</a></div>
                          <hr>
                          <div><a class="link" href="#">Skor</a></div>
                          <hr>
                          <div><a class="link" href="#">Väskor</a></div>
                          <hr>
                          <div><a class="link" href="#">Accessoarer</a></div>
                      </div>
                  </div>
              </div>
              <div><a class="link" href="rea.html">REA</a></div>
          </div>
          <br>
      </nav>
  </header>

  <div class="back"><a class="link" href="#">Back to top</a></div>

  <main>
      <article class="container">
          <picture class="main">
              <source media="(min-width: 640px)" srcset="/images/pexels-ron-lach-8400603landscape.jpg">
              <img src="/images/pexels-ron-lach-8400603.jpg" alt="Clothes">
          </picture>
          <aside class="aside">
              <h2>Lorem ipsum dolor</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, quam illo quasi cupiditate iste alias exercitationem sint necessitatibus recusandae soluta!</p>
          </aside>
      </article>
      <br>

      <section class="container-4">
          <article class="spot">
              <img src="https://placehold.co/400x500" alt="Clothes" loading="lazy">
              <div class="text">Kläder</div>
          </article>
          <article class="spot">
              <img src="https://placehold.co/400x500" alt="Shoes" loading="lazy">
              <div class="text">Skor</div>
          </article>
          <article class="spot">
              <img src="https://placehold.co/400x500" alt="Purse" loading="lazy">
              <div class="text">Väskor</div>
          </article>
      </section>
      <br>

      <h2><%= title %></h2>

      <section class="product">
        <div>
            
        </div>
      </section>

      <section class="container-3">
          <div class="info">
              <div class="icon"><i class="bi bi-globe-americas"></i></div>
              <div>Gratis frakt och returer</div>
          </div>
          <div class="info">
              <div class="icon"><i class="bi bi-airplane-engines"></i></div>
              <div>Expressfrakt</div>
          </div>
          <div class="info">
              <div class="icon"><i class="bi bi-shield-shaded"></i></div>
              <div>Säkra betalningar</div>
          </div>
          <div class="info">
              <div class="icon"><i class="bi bi-emoji-smile"></i></div>
              <div>Nyheter varje dag</div>
          </div>
      </section>

      <br>

    <section>
        <button class="accordion">Shopping</button>
            <div class="panel">
                <p>Kläder</p>
                <p>Skor</p>
                <p>Väskor</p>
                <p>Accessoarer</p>
            </div>
        <button class="accordion">Mina Sidor</button>
            <div class="panel">
                <p>Mina ordrar</p>
                <p>Mitt konto</p>
            </div>
        <button class="accordion">Kundtjänst</button>
            <div class="panel">
                <p>Returnpolicy</p>
                <p>Integritetspolicy</p>
            </div>
    </section>
      
  </main>
  
  <footer>
      <table class="table-1">
          <tr>
              <th>Shopping</th>
              <th>Mina Sidor</th>
              <th>Kundtjänst</th>
          </tr>
          <tr>
              <td>Kläder</td>
              <td>Mina ordrar</td>
              <td>Returnpolicy</td>
          </tr>
          <tr>
              <td>Skor</td>
              <td>Mitt konto</td>
              <td>Integritetspolicy</td>
          </tr>
          <tr>
              <td colspan="3">Väskor</td>
          </tr>
          <tr>
              <td colspan="3">Accessoarer</td>
          </tr>
      </table>
      
      <small class="copyright">&copy; Freaky Fashion</small>
  </footer>
  <template id="product-card-template">
        <% products.forEach(product => { %>
            <article class="product-card">
                <a href="/products/<%= product.urlSlug %>" class="link">

                    <img src="<%= product.image %>" alt="">
                    <div class="heart">
                        <i class="bi bi-suit-heart"></i>
                    </div>

                    <div class="product-info">
                        <h4><%= product.productName %></h4>

                        <%= product.productPrice %> SEK
                    </div>
                </a>
            </article>
        <% }) %>
    </template>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
