<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freaky Fashion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="hero">
            <a href="#"><i class="bi bi-bag"></i></a>
            <a href="#"><i class="bi bi-suit-heart"></i></a>
            <a href="#"><i class="bi bi-person"></i></a>
        </div>
        <br><br><br>
        <div class="header">
            <div>
                <p class="logo-title">
                    <a href="/" class="link">Freaky Fashion</a>
                </p>
            </div>
            <br>
            <div>
                <input class="search-bar" type="search" placeholder="search" title="search">
            </div>
        </div>
        <br><br>
        <nav>
            <div class="menu">
                <div><a class="link" href="/">Hem</a></div>
                <div><a class="link" href="#">Nyheter</a></div>
                <div class="drop-btn">Kategorier
                    <div class="dropdown">
                        <div class="dropdown-content">
                            <div><a class="link" href="#">Kläder</a></div>
                            <hr>
                            <div><a class="link" href="#">Skor</a></div>
                            <hr>
                            <div><a class="link" href="#">Väskor</a></div>
                            <hr>
                            <div><a class="link" href="#">Accessoarer</a></div>
                        </div>
                    </div>
                </div>
                <div><a class="link" href="#">REA</a></div>
            </div>
            <br>
        </nav>
    </header>

    <main>

        <article class="product-details">
            <div class="product-card">
                <img src="<%= product.image %>" alt="T-shirt">
            </div>
            <div>
                <h2><%= title %></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi incidunt illum veniam aperiam perferendis deserunt quisquam. Aut, autem adipisci corporis minus doloribus, necessitatibus optio sint magnam quia consequatur porro obcaecati.</p>
                <div>
                    <%= product.productPrice %> SEK
                </div>
                <button type="submit" class="btn-1">Lägg i varukorg</button>
            </div>
        </article>

        <h2 class="product-title">Liknande produkter</h2>
        <section class="slideshow-container">
            <article class="prev-btn">
                <i class="bi bi-caret-left"></i>
            </article>

            <section class="slideshow-container">
                <div class="slideshow-track">
                    <!-- Generera produktkort dynamiskt från backend -->
                </div>
            </section>
            
            <article class="next-btn">
                <i class="bi bi-caret-right"></i>
            </article>
        </section>

        <section class="container-3">
            <div class="info">
                <div class="icon"><i class="bi bi-globe-americas"></i></div>
                <div>Gratis frakt och returer</div>
            </div>
            <div class="info">
                <div class="icon"><i class="bi bi-airplane-engines"></i></div>
                <div>Expressfrakt</div>
            </div>
            <div class="info">
                <div class="icon"><i class="bi bi-shield-shaded"></i></div>
                <div>Säkra betalningar</div>
            </div>
            <div class="info">
                <div class="icon"><i class="bi bi-emoji-smile"></i></div>
                <div>Nyheter varje dag</div>
            </div>
        </section>

        <div class="back"><a class="link" href="#">Back to top</a></div>

        <br>

        <section>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Shopping
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    Kläder <br><br>
                    Skor <br><br>
                    Väskor <br><br>
                    Accessoarer <br>
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Mina Sidor
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    Mina ordrar <br><br>
                    Mitt konto <br>
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Kundtjänst
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Returnpolicy <br><br>
                        Integritetspolicy <br>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <table class="table-1">
            <tr>
                <th>Shopping</th>
                <th>Mina Sidor</th>
                <th>Kundtjänst</th>
            </tr>
            <tr>
                <td>Kläder</td>
                <td>Mina ordrar</td>
                <td>Returnpolicy</td>
            </tr>
            <tr>
                <td>Skor</td>
                <td>Mitt konto</td>
                <td>Integritetspolicy</td>
            </tr>
            <tr>
                <td colspan="3">Väskor</td>
            </tr>
            <tr>
                <td colspan="3">Accessoarer</td>
            </tr>
        </table>
        
        <p class="copyright">&copy; Freaky Fashion</p>
    </footer>

    <template id="product-card-template">
        <article class="slideshow-card">
            <a href="/products/<%= product.urlSlug %>" class="link">
            <img src="<%= product.image %>" alt="T-shirt">
            <div class="product-details-2">
                <h5><%= product.productName %></h5>
                <h5><%= product.productPrice %> SEK</h5>
            </div>
            </a>
        </article>
    </template>

    <script>
        const template = document.querySelector("#product-card-template");

        const slide = document.querySelector(".slideshow-container > div");

        for (let i = 0; i < 8; i++) {
            const fragment = template.content.cloneNode(true);
            slide.appendChild(fragment);
        }

        // slide-show

        const track = document.querySelector('.slideshow-track');
        const prevButton = document.querySelector('.prev-btn');
        const nextButton = document.querySelector('.next-btn');

        const totalItems = document.querySelectorAll('.slideshow-card').length;

        let currentIndex = 0;

        function updateTrackPosition() {
            const itemWidth = track.children[0].offsetWidth;
            track.style.transform = `translateX(-${currentIndex * itemWidth}px)`;
        }

        nextButton.addEventListener('click', () => {
            if (currentIndex < totalItems - 3) {
                currentIndex++;
                updateTrackPosition();
            }
        });

        prevButton.addEventListener('click', () => {
            if (currentIndex > 0) {
                currentIndex--;
                updateTrackPosition();
            }
        });

        updateTrackPosition();
        
    </script>
</body>
</html>